<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="below-header text-layout">
    {% include header.html %}
    <div class="row">
      <h1 class="page-title mobile-stretch"><span>{% if page.content-title %}{{page.content-title}}{% else %}{{page.title}}{% endif %}</span></h1>
      <div id="wrapper" class="standard-text narrow-width clearfix">
        {% if page.intro %}
          <div class="intro">{{ page.intro | markdownify }}</div>
        {% endif %}
        {{content}}
      </div>
      {% if page.display-founders %}
      <h1 class="page-title mobile-stretch"><span>Meet the founders</span></h1>
      <div class="founders-belt">
        {% for founder in site.data.founders %}
          <div class="founder">
            <img src="{{founder.img.src}}" alt="{{founder.img.alt}}">
            <span class="founder-name">{{founder.name}}</span>
            <span class="founder-role">{{founder.role}}</span>
            <div class="founder-desc">{{founder.description}}</div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if page.bottom-button%}
        <div id="bottom-button-container">
          <a href="{{page.bottom-button.link}}" class="btn" id="bottom-button">{{page.bottom-button.text}}</a>
        </div>
      {% endif %}
    </div>
    {% include footer.html %}
  </body>
</html>
