@font-face {
    font-family: 'Lola';
    src: url('fonts/Lola/fs_lola_primary-bold.eot');
    src: url('fonts/Lola/fs_lola_primary-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lola/fs_lola_primary-bold.woff2') format('woff2'),
         url('fonts/Lola/fs_lola_primary-bold.woff') format('woff'),
         url('fonts/Lola/fs_lola_primary-bold.ttf') format('truetype'),
         url('fonts/Lola/fs_lola_primary-bold.svg#fs_lola_primaryregular') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Lola';
    src: url('fonts/Lola/fs_lola_primary-light.eot');
    src: url('fonts/Lola/fs_lola_primary-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lola/fs_lola_primary-light.woff2') format('woff2'),
         url('fonts/Lola/fs_lola_primary-light.woff') format('woff'),
         url('fonts/Lola/fs_lola_primary-light.ttf') format('truetype'),
         url('fonts/Lola/fs_lola_primary-light.svg#fs_lola_primarylight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Lola';
    src: url('fonts/Lola/fs_lola_primary-medium.eot');
    src: url('fonts/Lola/fs_lola_primary-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lola/fs_lola_primary-medium.woff2') format('woff2'),
         url('fonts/Lola/fs_lola_primary-medium.woff') format('woff'),
         url('fonts/Lola/fs_lola_primary-medium.ttf') format('truetype'),
         url('fonts/Lola/fs_lola_primary-medium.svg#fs_lola_primaryregular') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Lola';
    src: url('fonts/Lola/fs_lola_primary-regular.eot');
    src: url('fonts/Lola/fs_lola_primary-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lola/fs_lola_primary-regular.woff2') format('woff2'),
         url('fonts/Lola/fs_lola_primary-regular.woff') format('woff'),
         url('fonts/Lola/fs_lola_primary-regular.ttf') format('truetype'),
         url('fonts/Lola/fs_lola_primary-regular.svg#fs_lola_primaryregular') format('svg');
    font-weight: normal;
    font-style: normal;

}