.site-header-container{
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 15px;
  @include media-query($on-desktop){
    background: transparent;
    position: absolute;
    z-index: 100;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .site-header{
    @include media-query($on-desktop){
      border-bottom: 1px solid rgba(223, 218, 218, 0.3);
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      clear: both;
    }
    .nav-trigger{
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: #726972;
      padding: 10px 5px 10px 17px;
      margin-top: 5px;
      cursor: pointer;
      box-sizing: border-box;
      height: 100%;
      background: url("/images/hamburger.png") no-repeat left;
      @include media-query($on-desktop){
        display: none;
        cursor: default;
      }
      &.open{
        background-image: url("/images/hamburger-open.png");
      }
    }
    .close-site-nav{
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
      color: white;
      @include media-query($on-desktop){
        display: none;
      }
      #close-nav-button{
        color: white;
      }
    }
    .nav-close-cross{
      background-image: url("/images/close.png");
      margin-top: 7px;
      background-size: cover;
      height: 20px;
      width: 20px;
    }
    .site-logo-h1
    {
      margin: 0;
      padding: 0;
    }
    .site-logo{
      display: block;
      height: 100%;
      padding-bottom: 5px;
      box-sizing: border-box;
      float: left;
      width: 50px;
      @include media-query($on-desktop){
        width: 70px;
      }
      img{
        border: none;
      }
    }
    .site-nav{
      display: none;
      font-weight: medium;
      color: #e6e4e4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(53, 53, 53, 0.98);
      z-index: 10;
      overflow-y: auto;
      overflow-x: hidden;
      &.active{
        display: block;
      }
      @include media-query($on-desktop){
        position: relative;
        background: none;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin-left: 100px;
        padding-top: 17px;
        display: block;
        overflow: hidden;
        font-weight: bold;
      }
      .page-link{
        color: inherit;
        text-decoration: none;
        display: block;
        font-size: 25px;
        vertical-align: top;
        position: relative;
        .nav-page-text{
          color: #ffffff;
          text-decoration: none;
          display: block;
          padding: 10px;
          border-bottom: 1px solid #7f8684;
        }
        @include media-query($on-desktop){
          display: inline-block;
          border-bottom: none;
          color: #ffffff;
          font-size: 17px;
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          margin: 0;
          padding: 2px 20px 0;
          position: static;
          &:first-of-type{
            border-left: none;
          }
          &.mobile-only{
            display: none;
          }
          .nav-page-text{
            color: inherit;
            width: 100%;
            height: 100%;
            padding: 0;
            border-bottom: 4px solid transparent;
            cursor: pointer;
            font-weight: bold;
          }
        }
        &.active > .nav-page-text, .nav-page-text:hover, .subpage-link.active .nav-page-text{
          @include media-query($on-desktop)
          {
            border-color: #682c91;
            text-decoration: none;
            span
            {
              border-bottom: 5px solid #682c91;
            }
          }
        }
        @include media-query($on-mobile){
          &:hover > .nav-page-text, &.active > .nav-page-text{
            background: black;
            border-left: 4px solid #9185be;
            padding-left: 6px;
          }
        }
        .subnav{
          display: none;
          font-size: 14px;
          .subpage-link
          {
            display: block;
            a
            {
              padding-left: 20px;
            }
          }
          @include media-query($on-desktop)
          {
            position: absolute;
            margin-top: -20px;
          }
        }
        &.has-subnav:hover, &.has-subnav.active, &.has-subnav.js-expanded
        {
          @include media-query($on-desktop)
          {
            padding-bottom: 0;
            margin-bottom: 5px;
            & > a
            {
              border-bottom: 0;
              margin-bottom: 30px;
            }
          }
          .subnav
          {
            display: block;
            .subpage-link {
              @include media-query($on-desktop)
              {
                display: inline-block;
                padding: 0 7px;
                border-right: 1px solid #615f5f;
                &:first-child
                {
                  margin-left: -7px;
                }
                a
                {
                  border-bottom-width: 2px;
                  padding-left: 0;
                }
              }
            }
            .subpage-link:last-child {
              border: none;
            }
          }
        }
      }
      .page-link, .subpage-link
      {
        @include media-query($on-mobile)
        {
          &:hover > .nav-page-text, &.active > .nav-page-text{
            color: #9185be;
          }
        }
      }
    }
  }
}

.expand-button
{
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 52px;
  border-left: 1px solid #7f8684;
  background: url(/images/down-arrow.png) no-repeat;
  background-position: center;
  @include media-query($on-desktop)
  {
    display: none;
  }
}