.standard-text
{
  color: #4a4949;
  .intro
  {
    color: black;
    font-size: 22px;
    font-weight: normal;
  }

  h2
  {
    font-weight: bold;
    font-size: 18px;
    color: black;
  }
}